<h1>Listing services</h1>

<%= link_to 'Create new service', new_admin_service_path %>
<br /><br />
<% @services.each do |service| %>
  <div>
    <div class="icon-wrap">
      <img src="<%= service.image_url %>">
    </div>
    <h3><%= service.title %></h3>
    <p><%= service.header %></p>
  </div>
  <%= link_to 'Show', [:admin, service] %> |
  <%= link_to 'Edit', edit_admin_service_path(service) %> |
  <%= link_to 'Destroy', [:admin, service], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

