= form_for([:admin, @vacancy]) do |f|
  .input-cell
    = f.label :name
    = f.text_field :name
  .input-cell
    = f.label :description, class: 'description'
    = f.text_area :description
  .input-cell
    = f.label :salary
    = f.text_field :salary
  - if current_user.is_admin?
    .input-cell
      = f.label :user_id, 'Owner'
      = f.select :user_id, select_options_owner
  - else
    = f.hidden_field :user_id, value: current_user.id
  = f.submit t(action_name == 'new' ? 'vacancies.new.submit' : 'vacancies.edit.submit')

