.vacancy
  .head
    = fa_icon 'clock-o' if vacancy.frozen?
    .name{ title: t('vacancies.vacancy.titles.name') }
      = vacancy.name
    .salary{ title: t('vacancies.vacancy.titles.salary') }
      %div
        = fa_icon 'money'
        %div
          = vacancy.salary || t('vacancies.vacancy.salary.none')
    .owner{ title: t('vacancies.vacancy.titles.owner') }
      %div
        = fa_icon 'user'
        %div
          = vacancy.user.present? ? vacancy.user.name : t('vacancies.vacancy.user.none')
  .details{ title: t('vacancies.vacancy.titles.details') }
    = vacancy.description.html_safe

  .actions-panel
    .action.replies{ title: t('vacancies.vacancy.actions.replies') }
      = link_to admin_replies_path(vacancy_id: vacancy.id) do
        = fa_icon 'reply-all'
    .action.edit{ title: t('vacancies.vacancy.actions.edit') }
      = link_to edit_admin_vacancy_path(vacancy) do
        = fa_icon 'pencil'
    .action.clone{ title: t('vacancies.vacancy.actions.clone') }
      = link_to clone_admin_vacancy_path(vacancy) do
        = fa_icon 'copy'
    .action.clone{ title: vacancy.frozen? ? t('vacancies.vacancy.actions.unfreeze') : t('vacancies.vacancy.actions.freeze') }
      = link_to toggle_freeze_admin_vacancy_path(vacancy) do
        = fa_icon 'clock-o'
    .action.delete{ title: t('vacancies.vacancy.actions.delete') }
      = link_to(admin_vacancy_path(vacancy), method: :delete) do
        = fa_icon 'trash'
