.vacancies
  .control-panel
    .control-button
      = link_to new_admin_vacancy_path do
        = fa_icon 'plus'

  .vacancy-list
    - if @vacancies.try(:any?)
      = render @vacancies
    - else
      .empty-result
        = t 'vacancies.index.empty-result'

= javascript_include_tag 'vacancy'
= javascript_include_tag 'vacancies'
