.vacancies
  %h2
    = t 'vacancies.index.title'
  - if flash[:notice].present?
    .flash-notice
      = flash[:notice]
  .vacancy-list.for-candidate
    - if @vacancies.try(:any?)
      = render @vacancies
    - else
      .empty-result
        = t 'vacancies.index.no-one'

= javascript_include_tag 'vacancy'
= javascript_include_tag 'vacancies'
