= form_tag "/vacancies/#{ @vacancy.id }/apply", method: :post do
  .reply
    .big-cell
      %div
        .input-cell
          = label_tag :name
          = text_field_tag :name, nil, placeholder: t('vacancies.reply.placeholders.name')
        .input-cell
          = label_tag :city
          = text_field_tag :city, nil, placeholder: t('vacancies.reply.placeholders.city')
        .input-cell
          = label_tag :salary
          = text_field_tag :salary, nil, placeholder: t('vacancies.reply.placeholders.salary')
    .big-cell
      .english
        %h3
          = t('vacancies.reply.english.title')
        .input-cell
          = label_tag :spoken
          %div
            = select_tag :spoken, select_options_spoken_english
        .input-cell
          = label_tag :technical
          %div
            = number_field_tag :technical, 5, min: 1, max: 5
            .hint
              = t('vacancies.reply.english.hints.tech')
    .big-cell
      .contacts
        %h3
          = t('vacancies.reply.contacts.title')
        .contacts-list
          - 5.times do
            = render partial: 'contact', locals: { contact: { 'type' => 'phone', 'value' => '0637859498' } }
        .add-contact
          .new-contact
            .contact-type-options
              .contact-type-option
                %div
                  = fa_icon 'envelope'
              .contact-type-option
                %div
                  = fa_icon 'phone'
              .contact-type-option
                %div
                  = fa_icon 'skype'
            = text_field :new_contact, '', placeholder: t('vacancies.reply.placeholders.new_contact')
          .add-button
            = fa_icon 'plus'


