<div class="row-6"><div class="container">
  <div class="fright">
    <div class="eleven columns">
      <% @posts.each do |post| %>
        <div class="post-border-right">
          <article class="post-holder">
            <header>
              <div class="date"> <span class="day"><%= post.created_at.day %></span> <span class="month"><%= post.created_at.strftime("%B") %></span> </div>
              <h1 class="entry-title fleft"><%= post.title %></h1>
              <!--<div class="fright"><a class="comments-link" href="#">16</a></div>-->
              <div class="clear"></div>
            </header>
            <div class="wrapper">
              <%= post.body.html_safe %>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
  <div class="fleft">
    <div class="five columns">
      <div class="widget">
        <h4>Previous posts</h4>
        <ul>
          <% @latest_posts.each do |post| %>
            <li>
              <div class="date"> <span class="day"><%= post.created_at.day %></span> <span class="month"><%= post.created_at.strftime("%B") %></span> </div>
              <a href="/blog?id=<%= post.id %>"><%= post.title %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>
  <div class="row-6"><div class="container">
    <%= will_paginate @posts %>
  </div></div>
</div>
