.reply
  .general.partiotion
    %h3
      = t('vacancies.reply.general.title')
    = label_tag :name
    = reply.name

    = label_tag :city
    = reply.city
  .english.partiotion
    %h3
      = t('vacancies.reply.english.title')
    = label_tag :spoken
    = (t "vacancies.reply.english.spoken_levels")[reply.spoken.to_i]

    = label_tag :technical
    = reply.technical
  .contacts.partiotion
    %h3
      = t('vacancies.reply.contacts.title')
    .contacts-list
      = render partial: 'contact', collection: reply.contacts
  .cooperation.partiotion
    %h3
      = t('vacancies.reply.cooperation.title')
    = label_tag :salary
    = reply.salary

    = label_tag :work_type
    = reply.work_type

    = label_tag :work_hours
    = reply.work_hours
  .cv.partiotion
    = link_to reply.cv.url do
      = fa_icon 'file'
